.App {
    display: flex;
    flex-direction: column;
    height: 1440px;
    width: 100vw;
    background-color: #f5f5f5;
}
h1{
    color: #012A4A;
 font-style: normal;
font-weight: 600;
font-size: 32px;
margin: 35px 0px 55px 0px;

}
.mydash{
 color: #012A4A;
 font-style: normal;
font-weight: 600;
font-size: 32px;
margin: 35px 0px 55px 0px;
}
.mywith{
color: #012A4A;
 font-style: normal;
font-weight: 600;
font-size: 32px;
margin: 35px 0px 55px 0px;
}
/* .ul{
    border: 1px solid red;
    margin-top: 0px;
} */

.myAcctText {
    margin-right: 100px;
}

.rectangle2 {
    width: 100vw;
    height: 271px;
    background: rgba(222, 61, 109, 0.1);
}

.dash {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40%;
    margin: 0;
    /* margin-left: 100px; */
}

.frame1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 45%;
    height: 1200px;
    margin-left: 27.5%;
    margin-top: 10%;
    background: #FFFFFF;
    /* border: 1px solid; */
}

.dashboard {
    /* Dashboard */
    width: 169px;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #012A4A;
    margin-bottom: 20px;
}

.sellAirtime {
    /* Sell airtime */
    width: 74px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #012A4A;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.WithdrawBalance {
    
    width: 120px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #012A4A;
    flex: none;
    order: 1;
    flex-grow: 0;
}


/* .banner-container{
width: 100vw;
height: 10%;
background-color: #DE3D6D;
} */

.ManageBankAccount {
    width: 147px;
    height: 17px;
    color: #012A4A;
    flex: none;
    order: 2;
    flex-grow: 0;
    border: 1px solid red;
}

.TransactionHistory {
    width: 127px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #012A4A;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.na {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 0px;
    gap: 15px;
    font-size: 15px;
    width: 100%;
    height: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    list-style: none;
}


/* new */

.TabStyle {
    width: 97%;
    height: auto;
    min-height: 400px;
    /* margin: 1.5rem auto 1.5rem; */
    /* padding: 2rem 1rem; */
    color: #e8f0f2;
}

.ul .na {
    /* border: 1px solid red; */
    width: 100%;
    margin: -0.5rem auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    padding-left: 0px;
    color: #012A4A;
}

.mock:hover {
    text-decoration: underline#DE3D6D 2px;
}

.test:active {
    text-decoration: underline#DE3D6D 1px;
}

ul.na li {
    width: 50%;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    height: 17px;
    font-family: "Inter";
    font-style: normal;
    font-size: 5px;
    line-height: 17px;
    color: #012a4a;
    flex-grow: 0;
}

ul.na li:first-child {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

ul.na li:last-child {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}


/* ul.na li.active:hover {
    text-decoration: underline red 2px;
} */

.TabContent {
    font-size: 2rem;
    text-align: center;
}

.money {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 74%;
    height: 160px;
    color: white;
    background: #DE3D6D;
    border-radius: 24px;
    margin-bottom: 35px;
}

.fig {
    margin: 0px 0px 1px 10px;
    color: white;
}

.walletBalance {
    /* Wallet balance */
    width: 110px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.account {
    width: 95px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    background-color: #DE3D6D;
    border-radius: 10px;
    padding: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

@media screen and (max-width: 800px) {
    .frame1 {
        width: 100%;
        margin-right: 15px;
        margin-left: 1px;
        border: none;
        padding-right: 5px;
    }
    .rectangle2 {
        max-width: 107%;
    }
    .na {
        display: flex;
    }
    h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 280px) {
    .na {
        display: flex;
        flex-direction: column;
        /* margin-bottom: 45px; */
        /* margin: 2px 2px 2px 49px; */
        font-size: 10px;
        gap: 3px;
    }
    .ul .na{
        /* display: flex; */
        /* border: 1px solid red; */
        margin-bottom: 50px;
        /* gap: 3px; */
    }
    .rectangle2 {
        max-width: 107%;
    }
    h1 {
        font-size: 20px;
    }
    .money {
        width: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 2px 2px 15px 5x;
    }
    .frame1 {
        margin-top: 60px;
    }

    
}